<template functional>
  <div class="action">
    <button v-if="props.event" @click="$emit(props.event, props.payload)">{{ props.name }}</button>
    <router-link v-else :to="props.payload" tag="button">{{ props.name }}</router-link>
  </div>
</template>
<script>
export default {
  name: 'notification-action',
  props: {
    event: {
      type: String,
      default: ''
    },
    payload: Object,
    name: String,
  },
};
</script>
<style lang="sass" scoped>
  .action button
    text-transform: uppercase
</style>

