<template>
  <div>
    <button-menu
      class="route-form"
      @close="onClose"
      @open="onOpen"
      v-modifiers:shape.circle
      v-modifiers:background.purple-light
    >
      <div slot="icon">
        <div class="route-form__icon" />
      </div>
      <div slot="content">
        <transition name="form-content">
          <div v-show="isOpen" class="route-form__content">
            <div class="route-form__input route-form__pointA">
              <input v-model="pointA" />
            </div>
            <div class="route-form__input route-form__pointB">
              <input v-model="pointB" />
            </div>
            <div class="route-form__input">
              <input v-model="route.auto.number" />
            </div>
            <div class="route-form__input">
              <input v-model="route.auto.seats" />
            </div>
            <button value="Add" @click="addRouteToMap" />
          </div>
        </transition>
        <div v-show="isOpen" class="route-form__transitPointsContent">
          <template v-for="(viaPoint, index) in route.points.transitPoints">
            <div :key="index">
              <div
                class="route-form__transitPointsControls route-form__acceptTransitPointsContent"
                @click="addTransitPoint(index)"
              >
                &#10004;
              </div>
              <input v-model="route.points.transitPoints[index].value"/>
              <div
                class="route-form__transitPointsControls route-form__discardTransitPointsContent"
                @click="removeTransitPoint(index)"
              >
                &#10060;
              </div>
            </div>
          </template>
        </div>
      </div>
    </button-menu>
    <div class="route-form__addViaPointButton" @click="route.points.transitPoints.push({ value: '', added: false })" />
    <div class="route-form__saveRouteButton" @click="saveRoute(this,route)">
    </div>
  </div>
</template>
<script src="./route_form.js"></script>
<style src="./route_form.sass" lang="sass" scoped></style>
