$route-form-content-border-radius: 2em

.route-form
  position: relative

  .route-form__icon
    position: relative
    background: #fff
    height: 2px
    width: 16px

    &:before
      position: absolute
      top: 0
      left: 0
      background: #fff
      content: ""
      width: 16px
      height: 2px
      transform: rotateZ(-180deg)
      transition: transform 1s

  &.button-menu--collapsed
    .route-form__icon
      &:before
        transform: rotateZ(90deg)

  %content-decoration
    background-color: rgba(255, 255 ,255, .8)
    border-top-right-radius: $route-form-content-border-radius
    border-bottom-right-radius: $route-form-content-border-radius
    border-bottom-left-radius: $route-form-content-border-radius
    box-shadow: 0 1px 10px 0
    display: flex
    align-items: center
    position: relative
    left: 1.25em
    width: 16em

  .route-form__transitPointsContent > div
    border-top-left-radius: $route-form-content-border-radius
    @extend %content-decoration
    height: 2em
    margin-top: 10px
    justify-content: center

    .route-form__transitPointsControls
      border: 1px solid
      border-radius: 50%
      width: 1.5em
      height: 1.5em
      display: flex
      justify-content: center
      align-items: center
      background: #fff
      box-shadow: inset 0 0 5px 0
      user-select: none
      cursor: pointer


    .route-form__acceptTransitPointsContent
      color: green
      border-color: green
      margin-right: 5px
    .route-form__discardTransitPointsContent
      color: red
      border-color: red
      margin-left: 5px

  .route-form__content
    @extend %content-decoration
    top: -1.25em
    height: 16em
    z-index: 0
    flex-direction: column
    justify-content: center


    .route-form__input
      border-radius: 4px
      left: 0
      margin-bottom: 10px

      input
        box-shadow: 0 0 10px 0 grey
        border: none
        overflow-x: scroll
        background-color: rgba(56, 24, 24, .5)
        line-height: 1
        font-size: 24px
        outline: none
        color: #fff
        width: 8em
        height: 2rem

      &.route-form__pointA

      &.route-form__pointB
        top: 125px
        left: 0
        z-index: 0
        transition: width 1s

button
  height: 24px
  width: 9em

.route-form__content
  &.form-content-enter-active
    animation: form-open 1s linear
    input, button
      opacity: 0

  &.form-content-leave-active
    animation: form-close 1s linear
    input, button
      opacity: 0

  &.form-auto-content-enter-active
    animation: form-open 1s linear
    input, button
      opacity: 0

  &.form-auto-content-leave-active
    animation: form-close 1s linear
    input, button
      opacity: 0

  @keyframes form-open
    0%
      width: 0
      height: 0

    100%
      width: 16em
      height: 16em

  @keyframes form-close
    0%
      width: 16em
      height: 16em

    100%
      width: 0
      height: 0

.route-form__addViaPointButton,
.route-form__saveRouteButton
  width: 2em
  height: 2em
  border-radius: 50%
  background: rgba(255, 255, 255, 1)
  box-shadow: 0 1px 10px 0
  position: absolute
  left: 4px
.route-form__saveRouteButton
  top: calc(50px + 2em)
.route-form__addViaPointButton,
  top: 45px