.button-menu
  .button-menu__button
    width: 3em
    height: 3em
    border-color: transparent
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2)
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    cursor: pointer
    position: relative
    z-index: 2

    &:focus
      border: none
      outline: none

  &.button-menu__shape--circle
    .button-menu__button
      border-radius: 50%

  &.button-menu__background--purple-light
    .button-menu__button
      background: #b82e2e
      border: 0.5px solid #942424

      &:active
        background: #9e2323

