<template>
  <div class="button-menu"
    :class="classes">
    <button
      @click="toogle"
      class="button-menu__button"
    >
      <div class="button-menu__icon">
        <slot name="icon" />
      </div>
    </button>
    <div class="button-menu__content">
      <slot name="content" />
    </div>
  </div>
</template>
<script src="./button_menu.js"></script>
<style src="./button_menu.sass" lang="sass" scoped></style>
