<template>
  <div class="notification">
    <div class="close-button" @click="$emit('close')">✖</div>
    <div class="image">
      IMAGE
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>{{content.body}}</p>
      </div>
      <slot name="actions"></slot>
    </div>
  </div>
</template>
<script src="./notification.js"></script>
<style src="./notification.sass" lang="sass" scoped></style>
