.notification
  width: 400px
  height: 80px
  flex: 1 0 auto
  margin-top: 10px
  border-radius: 3px
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)
  display: flex
  background: #fff
  position: relative
  padding: .5em

  .image
    height: 80px
    flex-basis: 80px
    display: flex
    align-items: center
    justify-content: center
    border-right: 2px solid #efefef

.card-stacked
  flex: 1 0 auto
  display: flex
  flex-direction: column
  margin-left: .5em

  .card-content
    flex: 2 0 auto
    border-bottom: 2px solid #efefef
    padding-top: .5em

  .card-action
    flex: 1 0 auto
    display: flex
    align-items: center

    button
      background: trasparent

.close-button
  font-size: 20px
  position: absolute
  right: .5em
  top: .5em
  border-radius: 50%
  line-height: 20px
  display: flex
  align-items: center
  justify-content: center
  width: 23px
  height: 23px
  user-select: none
  -webkit-tap-highlight-color: transparent

  &:hover
    background: #efefef
    cursor: pointer
    box-shadow: 0 0 10px 0 #bbb
