html, body
  height: 100%
  margin: 0

#app
  height: 100%
  position: relative
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #2c3e50
  overflow: hidden
