<template>
  <div id="app">
    <ymap elementId="map"></ymap>
    <router-view></router-view>
    <notification-container></notification-container>
  </div>
</template>

<script src="./app.js"></script>
<style src="./_app.sass" lang="sass"></style>
